head {
    background-color: #000000;
}

body{
    background-color: #000000;
    color: #000000
}

h1 {
    color: blue;
}

#n1 {
    color: #e4e4e4;
}

#n2 {
    color: #e4e4e4;
}

#n3 {
    color: #e4e4e4;
}

#n4 {
    color: #e4e4e4;
}

#n5 {
    color: #e4e4e4;
}

#n6 {
    color: #e4e4e4;
}

#n7 {
    color: #e4e4e4;
}

#n8 {
    color: #e4e4e4;
}

#n9 {
    color: #e4e4e4;
}

#n0 {
    color: #e4e4e4;
}